.logo {
  position: absolute;
  left: 17px;
  background-color: #FFF;
}


.MuiSvgIcon-root{
  font-size: 32px !important;
}

.MuiTypography-body1{
  font-size: 1.7em !important;
  color: white;
}
.MuiList-root > a{
  text-decoration: none;
}