.post-container{
border:1px solid black;
}
.post-image{
width:100px;
height: 100px;
padding: 2px;
border-radius: 30%;
box-shadow: 10px 10px 10px rgb(0, 0, 0 , 50%);
margin-bottom: 12px;

}
.post-title{
text-align: right;

}
.post-description{
text-align: right;
display: inline-block;
}
.post-image-container{
text-align: left;
display: inline-block;
}
.post-date{
text-align: left;
font-size: 10px;
}